
<div class="m-4 pb-3">
  <div>

    <button  class="btn btn-primary" (click)="newSensor()">חדש</button>
    <mat-form-field appearance="fill" class="me-3">
      <mat-label>שם התקן</mat-label>
      <input matInput [formControl]="search">
    </mat-form-field>
  </div>
  <div class="text-center text-md-end mt-3" *ngIf="sensors">
    <strong>
      {{sensors.length}} התקנים רשומים ({{countStatus(1)}} תקינים {{countStatus(0)}} בתקלה)
    </strong>
  </div>

  <div  class="row justify-content-between gap-2">
    <app-sensor *ngFor="let item of sensorsFilter"  [sensor]="item" class="card shadow "></app-sensor>
  </div>
</div>




